@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background: $white;
  color: $text-default;
  text-align: center;
  min-height: 100vh;
}

.hero {
  box-sizing:border-box;
  height: 722px;
  padding-top: 98px;
  
  &__portrait-container {
  }
  &__portrait {
    width: 96px;
    margin-bottom: 24px;
    border-radius: 50%;
    border: solid 16px $blue-lightest;
  }
  &__welcome {
    display: none;
  }

  &__text-container {
    height: 304px;
    width: 288px;
    margin: 0px auto 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
margin: 0px;
    color: $text-dark;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.23em;
    &-emphasis {
      color: $blue;
    }
  }
  &__introduction {
    margin: 0px;
    font-weight: 300;
    font-size: 16px;
    line-height: 2em;
    &-link {
      font-weight: bold;
      color: $text-link;
    }
  }
  &__mail {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    width: 278px;
    border-radius: 24px;
    margin: auto;

    background-color: $text-link;
    color: $white;

    font-weight: bold;
    font-size: 20px;
    line-height: 2em;
    text-decoration: none;
  }
}

.skills {
  background-color: $blue;
  color: $white;
  &__header {
    margin: 0px;
  }
}
